# ===== Maven =====
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Maven Wrapper (оставляем jar!)
.mvn/wrapper/maven-wrapper.jar

# ===== Logs =====
*.log

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Env / secrets =====
.env
application-local.properties
application-secret.properties
application.yml

# ===== IDE =====
.vscode/
.idea/
*.iml

# ===== Java =====
*.class

# ===== Temp =====
*.tmp
*.swp

# Docker
docker-compose.yml


node_modules/
dist/